@import url('../assets/fonts/fonts.css');
@import url(../css/components/navbar.css);

:root {

    --font-ctecs-primary: 'Bahnschrift', sans-serif;
    --font-mstecs-primary: 'Segoe UI', sans-serif;
    --font-mstecs-bold: 'Segoe UI Bold', sans-serif;

}

/* Elimina márgenes y padding por defecto del navegador */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Opcional: Asegura que todos los elementos hereden el box-sizing */
  *, *::before, *::after {
    box-sizing: inherit;
  }

body{
    font-family: var(--font-ctecs-primary);
}

h2{
    font-family: var(--font-mstecs-primary);
}

h3{
    font-family: var(--font-mstecs-bold);
}