@import url('../assets/fonts/fonts.css');
@import url('../css/components/navbar.css');
@import url('../css/components/footer.css');
@import url('./components/hero.css');
@import url('./components/whoweare.css');
@import url('./components/ourvalue.css');
@import url('./components/value-cards.css');
@import url('./components/features.css');
@import url('./components/contact-us.css');
@import url('./components/spacer.css');
@import url('./components/phraph.css');
@import url('./components/partners-logos.css');
@import url('./components/certifications.css');
:root {

    --font-ctecs-primary: 'Bahnschrift', sans-serif;
    --font-mstecs-primary: 'Segoe UI', sans-serif;
    --font-mstecs-bold: 'Segoe UI Bold', sans-serif;

}

/* Elimina márgenes y padding por defecto del navegador */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    padding-top: 1rem;
}

  
  /* Opcional: Asegura que todos los elementos hereden el box-sizing */
  *, *::before, *::after {
    box-sizing: inherit;
  }

body{
    font-family: var(--font-ctecs-primary);
}
